*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto","Arial",sans-serif;
}

.main-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
}

.main-bar .youtube-img
{

    width: 130px;
    height: 45px;
    margin-top: 0.7em;
}

.main-bar .serch-input
{
    margin-top: 0.5rem;
    border:1px solid #000;
    position:relative;
}
.search-input {
    border:1px solid #000;
    display:inline-block;
    position:relative;
    height: 1.8em;
    margin-top: 1em;
}
#search-query
{
    width: 20rem;
    height: 2em;

}
#search-button {
   height: 2em;
   position:absolute;
   right:0;
   top:0;
}

html,body{
    background-color: #181818;
    color:#fff;
}
header{
    background-color: #202020;
    display: flex;
    align-items: center;
}
header > *{
    flex:1;
    display: flex;
}
.logo img{
    height:2.8rem;
    padding:0.5rem;
}
.user{
    justify-content: flex-end;
}
.search{
    justify-content: center;
    flex:2;
}
.logo{
    align-items: center;
}

header input{
    padding: 7px;
    border-radius:5px;
    border:1px solid #333;
}
header button{
    transform: scaleX(-1);
    padding: 7px;
    border-radius:5px;
    border:1px solid #333;
}

.video img{
    object-fit: cover;
    aspect-ratio: 16 / 9;
    /* max-width: 300px; */
    width: 100%;

    /* 256 263 275 263 320 */

}

.ytVideo{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color:#AAA;
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
    font-size: 0.85rem;
}

.title{
    font-size: 1.1rem;
    font-weight: 500;
    color:#fff;
}
.metaData{
    display: flex;
}

.author{
    padding:1rem 0;
}
.author:hover{
    color: #fff;
    cursor: pointer;
}

.views::after{
    content: "•";
    padding:0 5px;
}

.info{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.main{
    margin-top: 15px;
    display: grid;
    margin: 0 55px;
    flex-direction: row;
    overflow-x: auto;
}



.pages{
    justify-content: center;
    display: flex;
    padding:0 70px;
    overflow-x: auto;

}
.pages::-webkit-scrollbar {
    display: none;
}
.page{
    margin:3px;
}
.page button{
    font-weight: 600;
    padding: 5px;
    background: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    border-radius:100px;
    border:1px solid #333;
    transition: all 0.1s;
}

.page .active{
    background: #ff0000;
    color: #fff;
}

.page button:hover{
    position: relative;
    top: -3px;
    background: #ff0000;
    color: #fff;
}